@font-face {
	font-family: Raleway;
	src: url(police/Raleway-VariableFont_wght.ttf)
}

* {
	font: 1em Raleway;
}

h4 {
	margin-left: 35px;
	font-size: 1.3em;
}

h5 {
	margin-left: 35px;
}
footer {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	background-color: #f2f2f2;
	align-content: space-around;
	align-items: flex-start;
}

figure {
	background-color: white;
	border-radius: 25px;
}

header {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: flex-end;
	align-content: space-between;
}

header > img {
	width: 10%;
	height: auto;
}

#search {
	display:flex;
	align-content: center;
}
input {
	height: 40px;
	margin: 0px;
	padding: 0px;
	border-left: none;
	border-right: none;
	border-top: solid;
	border-bottom: solid;
	border-color: #f2f2f2;
}

button {
	height: 44px;
	width: 40px;
	margin: 0px;
	padding: 0px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

#searchbutton {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	width: 100px;
	height: 44px;
	color: white;
	background-color: #0065fc;
	border: solid;
	border-color: #0065fc;
}

#filterbar {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.sliders {
	display: flex;
	background-color: white;
	width: 15%;
	height: 40px;
	justify-content: space-between;
	align-items: center;
	padding-right: 15px;
	border-style: solid;
	border-color: #f2f2f2;
	border-left: none;
}

.sliders > figcaption {
	background-color: white;
}
.sliders:hover {
	flex-direction: row-reverse;
	padding-left: 15px;
	padding-right: 0px;	
	border-right: none;
	border-left: solid;
	border-color: #f2f2f2;
}

figure > i {
	color: #0065fc;
	border-radius: 50%;
	background-color: #DEEBFF;
	padding: 15px;
}

.far.fa-star {
	color: #f2f2f2;
	font-weight: 900;
}

.fas.fa-star {
	color: #0065fc;
}
#mainbody {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: space-around;
	justify-content: space-around;
	height: 800px;
}

section#left {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	max-width: 60%;
	background-color: #f2f2f2;
	height: inherit;
	border-radius: 25px;
}

section#right {
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: space-between;
	max-width: 30%;
	height: inherit;
	border-radius: 25px;
}

div#Resultats {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	height: inherit;
}

div#Resultats > a {
	display: block;
	flex-grow: 1;
	width: 33%;
}

div#Resultats:nth-child(3n) {
	break-after: always;
}
div#Top {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 100%;
}

div#Top > a {
	display: block;
}

figure.res > img {
	max-width: 100%;
	max-height: 100px;
	overflow: hidden;
	object-fit: cover;
	border-top-right-radius: inherit;
	border-top-left-radius: inherit;
}

figure.sug > img { 
	max-width: 50%;
	max-height: 100%;
	object-fit: cover;
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
}

figure.res {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	height: auto;
	flex-wrap: wrap;
	margin: 32px;
}

figure.res > figcaption {
	height: 150px;
}

figure.sug {
	display: flex;
	flex-direction: row;
	max-width: auto;
	max-height: 33%;
	flex-grow: 1;
}

figure.sug > figcaption {
	height: 100%; 
	max-width: 50%;
	overflow: hidden;
}

#Activities {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows:  100%;
	max-width: 100%;
	height: 600px;
}

a.att {
	display: block;
	object-fit: cover;
	margin: 5px;
	padding: 5px;
	box-shadow: 0px 5px;
}

#Activities > div {
	display: flex;
	height: 100%;
	width: 100%;
	object-fit: cover;
	overflow: hidden;
	flex-direction: column;
}

#col1 > a.att {
	height: 100%;
	width: 100%;
}

#col2 > a.att:nth-child(1) {
	height: 60%;
	width: 100%;
}

#col2 > a.att:nth-child(2) {
	height: 30%;
	width: 100%;
}

#col3 > a.att{
	height: 100%;
	width: 100%;
}

#col4 > a.att:nth-child(1) {
	height: 45%;
	width: 100%;
}

#col4 > a.att:nth-child(2) {
	height: 45%;
	width: 100%;
}
figure.att {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	object-fit: cover;
	overflow: hidden;
}

img.att {
	object-fit: cover;
	overflow: hidden;
	height: 100%;
	width: 100%;
	z-index: 0;
}

figcaption.att {
	height: 40px;
	z-index: 1;
}
